/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FF8D58;
  --foreground: #FFEBD0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF8D58;
    --foreground: #FFEBD0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

select:focus {
  -webkit-tap-highlight-color: transparent;
}

select option {
  background-color: white;
  color: #FF8D58;
}